namespace : argocd
project: infra

aws_simple_resources:
  repoURL: https://github.com/rotemjac/crossplane-infra.git
  destination:
    namespace: aws-infra
    server: https://kubernetes.default.svc

aws_xrds:
  repoURL: https://github.com/rotemjac/Crossplane-XRs
  path: databases/relational-db/rds/
  destination:
    namespace: divvy-infra-crossplace-xrds
    server: https://kubernetes.default.svc

aws_xrds2:
  repoURL: https://github.com/rotemjac/Crossplane-XRs
  path: databases/relational-db/rds2/
  destination:
    namespace: divvy-infra-crossplace-xrds2
    server: https://kubernetes.default.svc


divvy_xrds_new:
  repoURL: https://github.com/rotemjac/Crossplane-XRs
  path: databases/relational-db/rds_new/
  destination:
    namespace: divvy-infra-crossplace-xrds-new
    server: https://kubernetes.default.svc